html{
  height: 100%;
  width: 100%;
}

body{
  background-color: #e6ffe6;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

*{
  color: #143d38;
}

#container{
  display: flex;
  height: 40vw;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

h1{
  margin: 0px;
  font-size: min(14vw, 150px);
  font-family: 'Carter One', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.btns{
  display: inline-flex;
  width: min(27vw, 315px);
  height: min(27vw, 315px);
  min-width: 150px;
  min-height: 150px;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: min(8vw, 85px);
  font-family: 'Carter One', Georgia, 'Times New Roman', Times, serif;
  background-color: #7ac2a2;
  border: 3px solid #143d38;
  border-radius: 3vw;
}

.btns:hover{
  background-color: mediumaquamarine;
  transform: rotateZ(2deg)
}

#navigationBar{
  background-color: #143d38;
  position: fixed;
  height: 60px;
  width: 100vw;
  top:0;
  box-shadow: 0px 5px 30px #143d38;
  z-index: 5;
  display: flex;
}

#header{
  background-color: #7ac2a2;
  min-height: 45vh;
  margin-top: 0px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
}

.menuBtns{
  background-color: #7ac2a2;
  width: fit-content;
  height: 40px;
  border-radius: 4px;
  font-family: 'Carter One';
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
}

a{
  text-decoration-line: none;
}

p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.donnees{
  height: auto;
  width: fit-content;
  justify-content: center;
  align-self: top;
  margin-bottom: 1vw;
}

input{
  background-color:#7ac2a2;
  height: min(4w, 40px);
  width: min(20vw, 160px);
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

label{
  font-size: min(3vw, 40px);
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 1vw;
}

.don2{
  display: flex;
  justify-content: space-evenly;
}

.continue{
  background-color:#7ac2a2;
  height: 5vw;
  width: 18vw;
  font-size: 2vw;
  font-weight: bold;
  margin: 15vw; 
  margin-top: 10vw;
  border-color: #143d38;
  border-width: 3px;
  border-radius: 5px;
}


.couleurs{
  background-color:#e81a13;
  height:4vw;
  width:4vw;
  margin:1vw;
  border-radius: 5px;
}

#radio{
  background-color: #7ac2a2;
  border-radius: 3vw;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
  border: 5px solid #143d38;
}

#contco4{
  width: fit-content;
  background-color: #143d38;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.cases{
  height: 5.5vw;
  width: 5.5vw;
  background-color: #7ac2a2;
  margin-right: 1vw;
  margin-left: 1vw;
  border-radius: 30vw;
}

#game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  height: 5vw;
  width: 5vw;
  background-color: #7ac2a2;
  margin: 1vw;
  border-radius: 30vw;
  border: 5px solid #143d38;
}

.rangee{
  width: fit-content;
  display: flex;
  flex-direction: row;
}

#btnpad{
  width: 52.5vw;
  display: flex;
  flex-direction: row;
  justfify-content: space-evenly;
}

